<div>
    <mat-sidenav-container class="kl-sidenav-container">
        <mat-sidenav #sidenav [opened]="false" [mode]="'over'" [fixedInViewport]="isLessThenLargeDevice">
            <div style="top:-152px; bottom: 0px; transform: none; visibility: visible;margin-left: 0px;width: 257px;" >
                <div class="area"></div><nav class="main-menu">
                    <ul>
                        <li>
                            <a routerLink="/dashadmin">
                                <i class="fa fa-home fa-2x"></i>
                                <span class="nav-text">
                                    Dashboard
                                </span>
                            </a>
                          
                        </li>
                       
                        <li class="has-subnav">
                            <a routerLink="/dashadmin/offreNotarchived">
                               <i class="fa fa-list fa-2x"></i>
                                <span class="nav-text">
                                    List Des Offres
                                </span>
                            </a>
                            
                        </li>
                        <li class="has-subnav">
                            <a routerLink="/dashadmin/offresarchived">
                               <i class="fa fa-folder-open fa-2x"></i>
                                <span class="nav-text">
                                    List Des Offres Archives
                                </span>
                            </a>
                           
                        </li>
                        <li class="has-subnav" *ngIf="displayAdmin">
                            <a routerLink="/dashadmin/user-management">
                                <i class="fa fa-laptop fa-2x"></i>
                                <span class="nav-text">
                                    Gestion Des Utilisateurs
                                </span>
                            </a>
                            
                        </li>
                       
                        <li>
                           <a routerLink="/dashadmin/mesoffres">
                               <i class="fa fa-table fa-2x"></i>
                                <span class="nav-text">
                                    Mes Offres
                                </span>
                            </a>

                        </li>

                       
                    </ul>
        
                    <ul class="logout">
                        <li>
                           <a href="#">
                                 <i class="fa fa-power-off fa-2x"></i>
                                <span class="nav-text">
                                    Logout
                                </span>
                            </a>
                        </li>  
                    </ul>
                </nav>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <header class="ll_header bg-gray-50 shadow">
                <div class="container">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <a class="logo" [routerLink]="['']"><img src="assets/images/logo3.PNG" alt="Logo" /></a>
                        </div>
                        <button *ngIf="isLessThenLargeDevice" (click)="sidenav.toggle()" class="_sidenav__toggler ml-3 ms-sm-3" mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
                        <div class="items-center flex ml-auto">
                            <button mat-icon-button>
              <mat-icon>notifications</mat-icon>
            </button>
                            <button mat-icon-button  routerLink="/dashadmin/profile">
              <mat-icon>account_circle</mat-icon>
            </button>
                            <button mat-icon-button (click)="onLogout()">
                <mat-icon class="mr-2">logout</mat-icon> </button>
                        </div>
                    </div>
                </div>
            </header>

           
                    <div class="grid grid-cols-12 gap-8">
                        <div class="col-span-3 hidden xl:block">
                            <div >
                                <div class="rounded-md border overflow-hidden h-full">
                                    <div class="area"></div><nav class="main-menu">
                                        <ul>
                                            <li>
                                                <a routerLink="/dashadmin">
                                                    <i class="fa fa-home fa-2x"></i>
                                                    <span class="nav-text">
                                                        Dashboard
                                                    </span>
                                                </a>
                                              
                                            </li>
                                           
                                            <li class="has-subnav">
                                                <a routerLink="/dashadmin/offreNotarchived">
                                                   <i class="fa fa-list fa-2x"></i>
                                                    <span class="nav-text">
                                                        List Des Offres
                                                    </span>
                                                </a>
                                                
                                            </li>
                                            <li class="has-subnav">
                                                <a routerLink="/dashadmin/offresarchived">
                                                   <i class="fa fa-folder-open fa-2x"></i>
                                                    <span class="nav-text">
                                                        List Des Offres Archives
                                                    </span>
                                                </a>
                                               
                                            </li>
                                            <li class="has-subnav" *ngIf="displayAdmin">
                                                <a routerLink="/dashadmin/user-management">
                                                    <i class="fa fa-laptop fa-2x"></i>
                                                    <span class="nav-text">
                                                        Gestion Des Utilisateurs
                                                    </span>
                                                </a>
                                                
                                            </li>
                                           
                                            <li>
                                               <a routerLink="/dashadmin/mesoffres">
                                                   <i class="fa fa-table fa-2x"></i>
                                                    <span class="nav-text">
                                                        Mes Offres
                                                    </span>
                                                </a>

                                            </li>

                                           
                                        </ul>
                            
                                        <ul class="logout">
                                            <li>
                                               <a href="#">
                                                     <i class="fa fa-power-off fa-2x"></i>
                                                    <span class="nav-text">
                                                        Logout
                                                    </span>
                                                </a>
                                            </li>  
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-12 xl:col-span-9 py-10">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
        
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>