

<div>
    <h5 class="mb-3 font-medium">Utilisateurs</h5>
    <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
            <mat-icon spin="isLoading">cached</mat-icon>
             <span >Actualiser la liste</span>
          </button>
        <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
            <mat-icon>add</mat-icon>
            <span >Créer un nouvel utilisateur</span>
      </button>
    </div>

    <div class="table-inside">
        <table class="order-table table-auto ltMd:responsive">
            <thead>
                <tr>
                    <th scope="col" jhiSortBy="id"><span>ID</span>
                       <!-- <mat-icon >sort</fa-icon>-->
                    </th>
                    <th scope="col" ><span >Login</span>
                    </th>
                    <th scope="col" ><span >Email</span>
                    </th>
                  
                    <th scope="col"><span jhiTranslate="userManagement.profiles">Profiles</span></th>
                    <th scope="col" >
                        <span >Created Date</span>
                    </th>
                    <th scope="col" >
                        <span>Last Modified By</span>
                        </th>
                    <th scope="col" >
                        <span >Last Modified Date</span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td>
                        <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
                    </td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated" jhiTranslate="userManagement.deactivated">
              Deactivated
            </button>
                        <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated" [disabled]="!currentAccount || currentAccount.login === user.login" jhiTranslate="userManagement.activated">
              Activated
            </button>
                    </td>
                  
                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
                    <td>{{ user.lastModifiedBy }}</td>
                    <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
                    <td class="text-right">
                        <div class="w-1/12 text-right">
                            <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                            <mat-menu #menu="matMenu" xposition="before">
                                <button mat-menu-item>
                    <mat-icon>update</mat-icon>
                    <span>modifier</span>
                  </button>
                                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span><button type="button" (click)="deleteuser(user.login)">supprimer</button></span>
                </button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
        <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="pageSize" [length]="totalElement" (page)="nextPage($event)"> </mat-paginator>

    </div>
</div>