
<head>
    <style>
       .btn1{
  -webkit-appearance: button;
  background-color: darkgreen;
  border-radius: 10px;
}
.mb-3{
    font-size: 28px;
    font-family: inherit;
}

    </style>
</head>
<div >
    <h5 class="mb-3 font-medium">Utilisateurs</h5>
    <div >
        <button class="btn1" type="button" (click)="loadAll()" [disabled]="isLoading">
            <mat-icon spin="isLoading">cached</mat-icon>
             <span >Actualiser la liste</span>
          </button>
    </div>

    <div class="table-inside">
        <table class="order-table table-auto ltMd:responsive">
            <div class="panel panel-primary">
                <div class="card-body">
                  <div class="pl-lg-4" >
                    <div class="row">
                      <div class="col-lg-10">
                    <table class="table table-striped" >
            <thead>
                <tr>
                    <th><span></span>
                       <!-- <mat-icon >sort</fa-icon>-->
                    </th>
                    <th scope="col" ><span >Login</span>
                    </th>
                    <th scope="col" ><span >Email</span>
                    </th>
                  
                    <th scope="col"><span >Profiles</span></th>
                    <th scope="col" >
                        <span >Authoritie</span>
                    </th>
                    <th scope="col" >
                        <span>Last Modified By</span>
                        </th>
                    <th scope="col" >
                        <span >Last Modified Date</span>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user of users; trackBy: trackIdentity" >
                    <td >
                        <img style="border-radius:12px;max-width: 68%;" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">

                    </td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated" jhiTranslate="userManagement.deactivated">
              Deactivated
            </button>
                        <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated" [disabled]="!currentAccount || currentAccount.login === user.login" jhiTranslate="userManagement.activated">
              Activated
            </button>
                    </td>
                  
                    <td>
                        <div *ngFor="let authority of user.authorities">
                            <span  style="color: cadetblue;" class="badge badge-info">{{ authority }}</span>
                        </div>
                    </td>
                    <td>{{ user.lastModifiedBy }}</td>
                    <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
                    <td>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</td>
                    <td class="text-right">
                        <div class="w-1/12 text-right">
                            <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                            <mat-menu #menu="matMenu" xposition="before">
                                <button mat-menu-item [routerLink]="['./', user.login, 'edit']" >
                    <mat-icon>update</mat-icon>
                    <span>modifier</span>
                  </button>
                                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span><button type="button" (click)="deleteuser(user.login)">supprimer</button></span>
                </button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
        <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="pageSize" [length]="totalElement" (page)="nextPage($event)"> </mat-paginator>

    </div>
</div>