<div>
    <div class="filter flex items-center mb-5">
        <h5>Archives Offres</h5>
        <div class="flex items-center ml-auto">
            <button [class.text-accent]="view === 'grid'" (click)="view = 'grid'" mat-icon-button class="view__btn"><mat-icon>grid_view</mat-icon></button>
            <button [class.text-accent]="view === 'list'" (click)="view = 'list'" mat-icon-button class="view__btn"><mat-icon>list_alt</mat-icon></button>
        </div>
    </div>
    <div>
        <div *ngIf="view === 'list'" class="table-inside">
            <div class="flex flex-col border ltLg:responsive">
                <div class="flex items-center p-4 border-b hover:bg-blue-100">
                    <div class="w-2/12 font-medium">Date Publie</div>
                    <div class="w-2/12 font-medium text-center">Pays</div>
                    <div class="w-6/12 font-medium">
                        <div class="pl-16 ml-3">Offres</div>
                    </div>
                    <div class="w-2/12 font-medium">Categorie</div>
                    <div class="w-2/12 font-medium">Domaine</div>
                    <div class="w-1/12 font-medium">Date Exprime</div>
                    <div class="w-1/12"></div>
                </div>
                <div class="flex items-center p-4 border-b hover:bg-blue-100" *ngFor="let offre of offres| slice: 0:9">
                    <div class="w-2/12">{{offre.datePub}}</div>
                    <div class="w-2/12">{{offre.pays}}</div>


                    <div class="w-6/12">
                        <a href="{{offre.lien}}" class="flex hover:text-primary">
                            <!--<div class="max-h-16 w-16 flex-none mr-3 border" *ngIf="product?.images">
                                <img [src]="product?.images[0]" alt="img">
                            </div>-->
                            <h6 class="flex-auto">{{ offre.title }}</h6>
                        </a>
                    </div>
                    <div class="w-2/12">{{offre.categories}}</div>


                    <div class="w-2/12">
                        <div class="flex items-center">
                            <!--<mat-icon class="mr-1 text-lg leading-4 h-4 w-4 text-yellow-500">star_rate</mat-icon>-->
                            {{offre.domaine}}
                        </div>
                    </div>
                    <div class="w-1/12">
                        <div class="flex items-center">
                            <mat-icon class="mr-1 text-lg leading-4 h-4 w-4">date</mat-icon>
                            {{offre.dateExp}}
                        </div>
                    </div>
                    <div class="w-1/12 text-right">
                        <button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
                        <mat-menu #menu="matMenu" xposition="before">
                            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Details</span>
              </button>
                            <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span><button type="button" (click)="deleteOffres(offre.id)">Delete</button></span>
            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-4" *ngIf="view === 'grid'">
            <div class="col-span-4" *ngFor="let offre of offres | slice: 0:9">
                <mat-card>
                    <img class="m-0 mb-4" mat-card-image src="assets\images\offree.jpg" alt="Photo of a Shiba Inu" />
                    <mat-card-header class="mx-0">
                        <h3 class="text-[15px] leading-[23px]">{{ offre.title }}</h3>
                    </mat-card-header>
                    <mat-card-actions>
                        <a mat-stroked-button class="px-5">View</a>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <mat-paginator #paginator [pageSizeOptions]="[10, 25, 100]" [pageSize]="pageSize" [length]="totalElement" (page)="nextPage($event)"> </mat-paginator>

    </div>
</div>