 .w-2\/12 {
     width: 11.666667%;
 }

.container{    padding-top: 2.5rem;
    margin-top: 22px;
    margin-left: -51px;}
    .px-5{
      background-color: #91b232;
    }
    .m-0{width: 60%;
    position: relative;}